/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    margin: 0;
    padding: 20px;
}
/* .popup {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    transform: translate(-50%, -100%);
    white-space: nowrap;
} */

#popup {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}


.container {
    width: 90%;
    max-width: 800px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Supaya tombol tidak terlalu panjang */
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #793675;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #f500c0;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/* Responsif untuk HP */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    #controls {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    button {
        width: 100%;
        padding: 14px;
        font-size: 18px;
        margin-bottom: 5px;
    }

    #map {
        height: 380px; /* Map lebih kecil di layar HP */
    }

    h1 {
        font-size: 20px; /* Ukuran judul lebih kecil */
    }
    #popup {
        position: absolute;
        background: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: none;
        transform: translate(-50%, -100%);
        max-width: 1500px; /* Batasi lebar popup agar teks turun ke bawah */
        word-wrap: break-word; /* Paksa teks turun ke bawah */
        overflow-wrap: break-word; /* Alternatif untuk memecah kata */
        white-space: nowrap;
    }
    
    
    
}